<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134452787160-6qddsadm4oreooo301m4kgmjkg8uonng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134452787160-6qddsadm4oreooo301m4kgmjkg8uonng</string>
	<key>API_KEY</key>
	<string>AIzaSyCKZQ4D8EVLD-j7Wv0jMo_yinFmBexy-Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>134452787160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.omnichannel</string>
	<key>PROJECT_ID</key>
	<string>omnichannel-41da7</string>
	<key>STORAGE_BUCKET</key>
	<string>omnichannel-41da7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134452787160:ios:756cf54dca0061ad7aa4ad</string>
</dict>
</plist>